.my_button{
    padding: 15px 15px;
    border-radius: 12px;
    border: 2px solid white;
    background-color: white;
    font-size: large;
    font-weight: 1000;
    font-family: sans-serif;
    color: #FF3399;
    

}

.this_div{
    font-family:sans-serif;
    color: white;

}

html{
    background-color: #FF3399;

}

.my_button:hover {
   
    color: white;
    background-color: #FF3399;
    border-color: white;
   
}

