.my_button{
    padding: 15px 15px;
    border-radius: 12px;
    border: 2px solid white;
    background-color: white;
    font-size: large;
    font-weight: 999;
    font-family: Geneva;
    color: #E7717D;
    

}

.this_div{
    font-family: Geneva;
    color: white;

}

html{
    background-color:  #E7717D;

}

.my_button:hover {
   
    color: white;
    background-color: #E7717D;
    border-color: white;
   
}

.shift{
    transform: translateY(150px);

}

